@charset "utf-8";

/* ファイル選択ボタンのカスタムラベル */
.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ボタンのホバー効果 */
.file-label:hover {
  background-color: #45a049;
}

/* フォームのボタンのデザイン */
button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

/* ボタンのホバー効果 */
button:hover {
  background-color: #0b7dda;
}
