<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fripeness</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css" />
  </head>

  <body>
    <header>
      <h1>
        <a>
          <img src="../static/fripeness_logo.png" alt="logo" />
        </a>
      </h1>
    </header>

    <h3>
      Upload an image of a banana <br />
      and the degree of ripeness <br />
      will be displayed!
    </h3>

    <form
      action="/loading"
      method="POST"
      enctype="multipart/form-data"
      id="uploadForm"
    >
      <!-- 実際のファイル選択ボタンを非表示にする -->
      <input
        type="file"
        name="banana_image"
        accept="image/*"
        id="fileInput"
        style="display: none"
        required
      />`

      <!-- カスタムボタン -->
      <label for="fileInput" class="file-label">Select Banana Image</label>

      <div id="preview" style="margin: 20px 0; text-align: center">
        <!-- プレビュー画像がここに表示される -->
      </div>

      <button type="submit">Check Ripeness!</button>
    </form>

    <!-- JavaScript -->
    <script src="../static/preview.jsx"></script>

    <!-- JavaScript -->
    <!-- <script>
      // フォーム送信時にローディング画面を表示してから実際にフォームを送信
      document
        .querySelector("#uploadForm")
        .addEventListener("submit", function (e) {
          // e.preventDefault(); // デフォルトのフォーム送信を防止
          window.location.href = "/templates/loading.html"; // 一時的にローディング画面に遷移
          setTimeout(() => {
            this.submit(); // 3秒後に実際のフォーム送信を実行
          }, 3000);
        });
    </script> -->
  </body>
</html>
