<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banana Ripeness Checker</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css" />
  </head>
  <body>
    <h1>Banana Ripeness Checker</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <!-- 実際のファイル選択ボタンを非表示にする -->
      <input
        type="file"
        name="banana_image"
        accept="image/*"
        id="fileInput"
        style="display: none"
        required
      />

      <!-- カスタムボタン -->
      <label for="fileInput" class="file-label">Select Banana Image</label>

      <button type="submit">Check Ripeness</button>
    </form>
  </body>
</html>
