<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fripeness</title>
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" />
  </head>

  <body>
    <header>
      <a>
        <img src="../static/images/fripeness_logo.png" alt="logo" />
      </a>
    </header>

    <h3>
      Upload an image of a banana <br />
      and the degree of ripeness <br />
      will be displayed!
    </h3>

    <form action="/loading" method="POST" enctype="multipart/form-data">
      <input
        type="file"
        name="banana_image"
        accept="image/*"
        id="fileInput"
        style="display: none"
        required
      />

      <label for="fileInput" class="file-label">Select Banana Image</label>

      <div id="preview" style="margin: 20px 0; text-align: center"></div>

      <button type="submit">Check Ripeness!</button>
    </form>
    <script src="../static/js/preview.js"></script>
    <script>
      document
        .querySelector("#uploadForm")
        .addEventListener("submit", function (e) {
          window.location.href = "/templates/loading.html";
          setTimeout(() => {
            this.submit();
          }, 3000);
        });
    </script>
  </body>
</html>
